.profileContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    flex-direction: column;
  }
  
  .profileForm {
    width: 50%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }
  

  
  .profileForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .profileForm label {
    display: block;
    margin-bottom: 5px;
  }
  
  .profileForm input {
    width: calc(100% - 12px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profileForm button.saveButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profileForm button.saveButton:hover {
    background-color: #0056b3;
  }
  