.firstSection{
background-image: url(../../assets/img/background6.png);
background-size: cover;

height: 90vh;
background-repeat: no-repeat;
color: #fff;

}
.firstSection h1{
    text-shadow: 1px 2px 3px black;
    position: relative;
    top: 280px;
    left: 100px;
    width: 370px;
    font-size: 82px;
}
.callNow{
    position: relative;
    top: 280px;
    left: 100px;
    padding: 10px 30px;
    background-color: #5183B7;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
}
.callNow:hover{
    background-color: #619ad8;
}

/*Second section*/
.secondSection{
    background-color: #E9E9E9;
    display: flex;
    padding: 40px;
    gap: 150px;
}
.policeDog{
    height: 60vh;
    
}
.leftSection p{
    font-size: 22px;
    width:390px;
    text-align: justify;
    color: #000000a6;
    
}
.leftSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.rightSection span{
    font-size: 12px;
    position: relative;
    bottom: 30px;
    color: #000000a6;
}
.subtitle{
    color: #619ad8;
    font-size: 18px;
}
.text{
    font-size: 22px;
    color: #000000a6;
    width: 46vw;
    margin-top: 20px;
}
/*/Last section*/
.lastSection{
height: 80vh;
background-image: url(../../assets/img/LasBackground2.png);
background-size: cover;
background-position: center;
position: relative;
color:#FFF;

}
.lastSection::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f2231c0;
}
.lastSectionContainer{
    position: relative;
    z-index: 1;
}
.lastSection h2{
    color: #FFF;
    position: relative;
    text-align: center;
    top: 30px;
}
.leftLastSection h3{
font-size: 28px;
margin: 20px 80px;
color: #5183B7;
}
.rightLastSection img {
    height: 60vh; 
    border-radius: 5px;
    opacity: .86;
}
.positionLast{
    display: flex;
    position: relative;
    top: 50px;
    gap: 100px;
}
.aboutSuperintendent{
    font-size: 18px;
    margin: 20px 80px;
    width: 350px;
    color: #ffffffaf;
}
/*article Preview*/
.articlePreview{
    
    background-image: url(../../assets/img/articles/backgroundArticlePreview.jpg);
    background-size: cover;
    background-position: center;
    
   
}
.articleContainer{
background-color:#1f2231c0 ;
height: 45vh;
padding: 10px;

}
.articlePreview img{
    height: 60vh;
    border-radius: 10px;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.473);
   
   
}
.textArticle{
    font-size: 18px;
    width: 49vw;
   color: rgba(255, 255, 255, 0.733);
   
   
}
.articlePreview h2{
    font-size: 75px;
    color: #5183B7;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.521);
}

.articleContainer a{
    font-size: 14px;
    text-decoration: none;
    color: #5183B7;
    font-weight: bold;
    cursor: pointer;
}
.articleContainer a:hover{
    opacity: .8;
}
.article{
    display: flex;
    padding: 40px;
    gap: 130px;
    align-items: center;
}

@media screen and (max-width:768px){
    .article{
        flex-direction: column-reverse;
    }
    .articlePreview img{
    width: 90vw;
    }
   .articleContainer{
    height: 85vh;
    width: 90vw;
   }
   .articlePreview{
    height: 345vh;
    background-size: contain;
    background-position: bottom;
   }
    .firstSection{
        padding: 30px;
        height: 90vh;
    }
    .firstSection h1{
        font-size: 7vh;
        top: 10;
        left: 0;
        width: 205px;
        height: 150;
       
    }
    .callNow{
        font-size: 3vh;
        width: 50vw;
        height: 10vh;
        top: 10;
        left: 0;
    }
    .secondSection{
        flex-direction: column;
       
    }
   .leftSection p {
    font-size: 20px;
    width: 85vw;
   }
    .policeDog{
        height: 45vh;
    }
    .text{
        width: 90vw;
        text-align: left;
    }
    .lastSection{
        height: 85vh;
    }
    .lastSection h2{
        font-size: 28px;
    }
    .leftLastSection h3{
        font-size: 14px;
    margin: 0;
    }
    .positionLast{
        flex-direction: column;
        gap:0;
        align-items: center;
    }
    .aboutSuperintendent{
        font-size: 4vw;
        margin: 0;
        width: 90vw;
    }
    .rightLastSection img {
        height: 45vh;
        position: relative;
        right: 88px;
    }
}