.navBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191D30;
    padding: 25px;
}
.navBarContainer ul{
    display: flex;
    font-size: 18px;
    list-style: none;
    gap: 25px;
    align-items: center;
}
.navBarContainer a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
.navBarContainer a:hover{
    color: #6B91BE;
}
.logo{
    width: 40px;
    
<<<<<<< HEAD
}
=======
}
>>>>>>> 8591962d7e46f3ef38a24db26ef2fe44e04a4252
