.navBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191D30;
    padding: 25px;
}
.navBarContainer ul{
    display: flex;
    font-size: 18px;
    list-style: none;
    gap: 25px;
    align-items: center;
    
}
.navBarContainer a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
.navBarContainer a:hover{
    color: #6B91BE;
}
.logo{
    width: 40px;
    
}
.bx-menu{
    color: #FFF;
    display: none;
}
/*Smartphone*/
@media screen and (max-width:768px){
   .navBarContainer{
    padding: 12.5px 20px;
   }
    .navBarContainer ul li{
    display: none;
    
   }
   .logo{
    width: 10vw;
   }
   .bx-menu{
    display: block;
    cursor: pointer;
    font-size: 58px;
   }
   .active{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    
   }
   .active ul li{
    display: block;
    
   }
   .active ul {
    flex-direction: column;
    
   }
   
}
